<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Liste des Questions</title>
</head>
<body>
<main>

    <div class="col-md-6" layout:fragment="topleft">
        <p th:text="${question.text}"></p>
        <table class="table table-hover" th:if="${not #lists.isEmpty(question.answers)}">
            <caption></caption>
            <thead>
            <tr>
                <th scope="col"th:text="#{dateajout}">DATEADDED</th>
                <th scope="col" th:text="#{reponse}">AGREE</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active table-info" th:each="answer:${question.answers}">
                <td th:text="${answer.dateAdded}"></td>
                <td th:text="${answer.agree}"></td>
            </tr>

            </tbody>
        </table>
        <p th:if="${#lists.isEmpty(question.answers)}" class="text-danger">Aucune reponse pour cette question</p>
        <a th:href="@{/}">  <button type="button" class="btn btn-success" th:text="#{listedesquestions}"> List of questions</button> </a>

    </div>
    <div class="col-md-6" layout:fragment="topright" >
        <form th:action="@{'/register/'+${id}}"  th:object="${answer}" method="post">
            <div class="form-check">
            <input class="form-check-input" type="radio"  name="true"  th:field="*{agree}" th:value="true" id="true">
            <label class="form-check-label" for="true">
                TRUE
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio"  name="false" th:field="*{agree}" th:value="false" id="false" >
            <label class="form-check-label" for="false">
                FALSE
            </label>
        </div>


                <button class="btn btn-primary" type="submit" th:text="#{envoyer}">Envoyer</button>
        </form>
    </div>

</main>
</body>
</html>