<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Liste des Questions</title>
</head>
<body>
<main>

<div class="col-md-6" layout:fragment="topleft">
    <table class="table table-hover">
        <caption></caption>
        <thead>
        <tr>
            <th scope="col" >Nom</th>
            <th scope="col" >NbReponses</th>
            <th scope="col" >NbOui</th>
            <th scope="col" >NbNon</th>

        </tr>
        </thead>
        <tbody>
        <tr class="table-active table-info" th:each="question:${questions}" >
            <td>
                <a th:href="@{'/questions/'+${question.number}}" th:text="${question.getName()}"> </a>
            </td>
            <td>
            <a th:href="@{'/questions/'+ ${question.number}}" th:text="${question.getNbReponses()}"></a>
            </td>
            <td th:text="${question.nbOui}">   </td>
            <td th:text="${question.nbNon}">   </td>


        </tr>

        </tbody>
    </table>
</div>

</main>
</body>
</html>